/********** GLOBALS **********/
:root {
  /***** COLOR PALETTE *****/
  --main-bg-color: #efefef;
  --header-bg-color: #f8f8f8;
  --footer-bg-color: #f8f8f8;
  --tablet-hero-bg-color: #000203;

  /***** FONTS *****/
  --font-style-primary: Nunito;
  --font-style-secondary: Inter;
  --font-color-light: #f8f8f8;
  --font-color-dark: #0b0b0b;

  /***** FONT SIZES *****/
  --font-size-header-1: 34px;
  --font-size-header-2: 28px;
  --font-size-body-1: 18px;

  /***** SPACING *****/
  /* MOBILE */
  --mobile-frame-margin: 22px;

  /* TABLET */
  --tablet-frame-margin: 40px;
  --tablet-content-card-vertical-margin: 48px;

  /* DESKTOP */
  --desktop-vertical-margin: 64px;
  --desktop-horizontal-margin: 80px;
  --desktop-card-content-left-padding: 56px;
  --desktop-card-content-top-padding: 120px;
}
/********** END GLOBALS **********/

/* START MISCELLANEOUS */
body {
  background-color: var(--main-bg-color);

  margin: 0;
}
/* END MISCELLANEOUS */

/********** TYPOGRAPHY **********/
h1,
h2 {
  font-family: var(--font-style-primary);
}

h1 {
  font-size: var(--font-size-header-1);
}

h2 {
  font-size: var(--font-size-header-2);
}

p {
  font-family: var(--font-style-secondary);
  font-size: var(--font-size-body-1);
}
/********** END TYPOGRAPHY **********/

/********** COMPONENTS **********/
/***** START BUTTONS *****/
button {
  cursor: pointer;
}

.icon-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.icon-button-image {
  width: 28px;
  height: 28px;
}

/* PRIMARY BUTTON GENERIC STYLING */
.primary-button {
  background-color: white;
  border-radius: 25px;
}

.primary-button-text {
  font-size: var(--font-size-body-1);
  font-family: var(--font-style-primary);
  font-weight: 900;
}

/* PRIMARY BUTTON FILLED */
.primary-filled-button {
  border: none;
  /* padding: 12px 19px 12px 19px; */
}

/* PRIMARY BUTTON OUTLINED */
.primary-outlined-button {
  border: 1px solid black;
}

/* SPECIFIC BUTTONS */
#order-now-button {
  width: 128px;
  height: 44px;
}

#see-this-weeks-menu-button {
  width: 213px;
  height: 44px;
}

#view-menu-button {
  width: 141px;
  height: 44px;
}

#see-dessert-of-the-week-button {
  width: 238px;
  height: 44px;
}

/***** END BUTTONS *****/

/***** START HEADER *****/
header {
  background-color: var(--header-bg-color);
}

header > section {
  margin: 0px var(--mobile-frame-margin) 0px var(--mobile-frame-margin);
  display: flex;
}

header > section > h1 {
  flex: 1;
}
/***** END HEADER *****/

/***** START LANDING HERO *****/
#landing-content {
  margin: var(--mobile-frame-margin);
}

#landing-image {
  width: 100%;
  /* position: absolute;
  top: 240px; */
}
/***** END LANDING HERO *****/

/***** START CARDS *****/
.secondary-content-card {
  background-color: white;
}
/***** END CARDS *****/

/***** START FOOTER *****/
footer {
  background-color: var(--header-bg-color);
}
/***** END FOOTER *****/
/********** END COMPONENTS **********/

/********** START MOBILE MEDIA QUERY **********/
#landing-description {
  display: none;
}
/********** END MOBILE MEDIA QUERY **********/

/********** START TABLET MEDIA QUERY **********/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /***** START HEADER *****/
  header > section {
    margin: 0px var(--tablet-frame-margin) 0px var(--tablet-frame-margin);
  }
  /***** END HEADER *****/

  /***** START LANDING HERO *****/
  #landing-content {
    background-color: var(--tablet-hero-bg-color);
    margin: 0px;
    padding: var(--tablet-frame-margin);
  }

  .landing-content-text {
    color: var(--font-color-light);
  }

  #landing-description {
    display: block;
  }
  /***** END LANDING HERO *****/

  /***** START CONTENT CARDS *****/
  .content-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #second-content-card > .content-card-image {
    grid-row: 1/2;
  }

  #fourth-content-card > .content-card-image {
    grid-row: 1/2;
  }

  .content {
    margin: 0px;
    padding: var(--tablet-frame-margin);
  }

  .content-card-image {
    width: 100%;
  }
  /***** END CONTENT CARDS *****/
}
/********** END TABLET MEDIA QUERY **********/

/********** START LAPTOP MEDIA QUERY **********/
@media screen and (min-width: 1024px) {
  /***** START HEADER *****/
  header > section {
    margin: 0px var(--desktop-horizontal-margin) 0px
      var(--desktop-horizontal-margin);
  }
  /***** END HEADER *****/

  /***** START LANDING HERO *****/
  #landing-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: var(--desktop-vertical-margin) var(--desktop-horizontal-margin)
      var(--desktop-vertical-margin) var(--desktop-horizontal-margin);
  }

  #landing-content {
    background-color: var(--tablet-hero-bg-color);
    margin: 0px;
    padding-top: var(--desktop-card-content-left-padding);
    padding-left: var(--desktop-card-content-left-padding);
  }

  .landing-content-text {
    color: var(--font-color-light);
    margin-bottom: 32px;
  }

  #landing-description {
    display: block;
  }
  /***** END LANDING HERO *****/
}
/********** END LAPTOP MEDIA QUERY **********/
