/********** GLOBALS **********/
:root {
  /* COLOR PALETTE */
  --main-bg-color: #efefef;
  --tablet-hero-bg-color: #000203;

  /* FONTS */
  --font-style-primary: Nunito;
  --font-style-secondary: Inter;
  --font-color-light: #f8f8f8;
  --font-color-dark: #0b0b0b;

  /* FONT SIZES */
  --font-size-header-1: 34px;
  --font-size-header-2: 28px;
  --font-size-body-1: 18px;

  /* MARGINS */
  --mobile-frame-margin: 22px;
  --tablet-frame-margin: 40px;
}
/********** END GLOBALS **********/

/* START MISCELLANEOUS */
body {
  background-color: var(--main-bg-color);

  margin: 0;
}
/* END MISCELLANEOUS */

/********** TYPOGRAPHY **********/
h1,
h2 {
  font-family: var(--font-style-primary);
}

h1 {
  font-size: var(--font-size-header-1);
}

h2 {
  font-size: var(--font-size-header-2);
}

p {
  font-family: var(--font-style-secondary);
  font-size: var(--font-size-body-1);
}
/********** END TYPOGRAPHY **********/

/********** COMPONENTS **********/
/***** START BUTTONS *****/
button {
  cursor: pointer;
}

.icon-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.icon-button-image {
  width: 28px;
  height: 28px;
}

/* PRIMARY BUTTON GENERIC STYLING */
.primary-button {
  background-color: white;
  border-radius: 25px;
}

.primary-button-text {
  font-size: var(--font-size-body-1);
  font-family: var(--font-style-primary);
  font-weight: 900;
}

/* PRIMARY BUTTON FILLED */
.primary-filled-button {
  border: none;
  /* padding: 12px 19px 12px 19px; */
}

/* PRIMARY BUTTON OUTLINED */
.primary-outlined-button {
  border: 1px solid black;
}

/* SPECIFIC BUTTONS */
#order-now-button {
  width: 128px;
  height: 44px;
}

#see-this-weeks-menu-button {
  width: 213px;
  height: 44px;
}

/***** END BUTTONS *****/

/***** START HEADER *****/
header > section {
  margin: var(--mobile-frame-margin);
  display: flex;
}

header > section > h1 {
  flex: 1;
}
/***** END HEADER *****/

/***** START LANDING HERO *****/
#landing-content {
  margin: var(--mobile-frame-margin);
}

#landing-image {
  width: 100%;
  /* position: absolute;
  top: 240px; */
}
/***** END LANDING HERO *****/

/***** START CARDS *****/
.content-card {
  background-color: white;
}
/***** END CARDS *****/
/********** END COMPONENTS **********/

/********** START MOBILE MEDIA QUERY **********/
#landing-description {
  display: none;
}
/********** END MOBILE MEDIA QUERY **********/

/********** START TABLET MEDIA QUERY **********/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /***** START HEADER *****/
  header > section {
    margin: var(--tablet-frame-margin);
  }
  /***** END HEADER *****/

  /***** START LANDING HERO *****/
  #landing-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #landing-content {
    background-color: var(--tablet-hero-bg-color);
    margin: 0px;
    padding: var(--tablet-frame-margin);
  }

  .landing-content-text {
    color: var(--font-color-light);
    /* margin-bottom: 24px; */
  }

  #landing-description {
    display: block;
  }
  /***** END LANDING HERO *****/
}
/********** END TABLET MEDIA QUERY **********/

/********** START LAPTOP MEDIA QUERY **********/
@media screen and (min-width: 1024px) {
  h1 {
    color: blue;
  }

  #landing-description {
    display: block;
  }
}
/********** END LAPTOP MEDIA QUERY **********/
