.content-image {
  width: 100%;
}

/********** START TABLET MEDIA QUERY **********/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .content-section:nth-child(odd) > .content-image {
    grid-row: 1/2;
  }
}
/********** END TABLET MEDIA QUERY **********/

/********** START DESKTOP MEDIA QUERY **********/
@media screen and (min-width: 1024px) {
  .content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: var(--desktop-vertical-margin) var(--desktop-horizontal-margin)
      var(--desktop-vertical-margin) var(--desktop-horizontal-margin);
  }

  .content-section:nth-child(odd) > .content-image {
    grid-row: 1/2;
  }
}
/********** END DESKTOP MEDIA QUERY **********/
