.menu-item-list {
  display: grid;
  row-gap: 4px;
}

.page-content > aside {
  display: none;
}

/********** START TABLET MEDIA QUERY **********/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-item-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 8px;
  }
}
/********** END TABLET MEDIA QUERY **********/

/********** START LAPTOP MEDIA QUERY **********/
@media screen and (min-width: 1024px) {
  .menu-item-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }

  .page-content > aside {
    display: inline;
  }

  .page-content {
    display: grid;
    grid-template-columns: auto auto;
  }

  aside {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
/********** END LAPTOP MEDIA QUERY **********/
