body,
header {
  background-color: var(--mobile-menu-bg-color);
}

.nav-links {
  color: var(--font-color-light);
}

.mobile-menu-nav-section > nav > ul {
  padding: 0;
  margin-top: 25vh;
  text-align: center;
}

.mobile-menu-nav-section > nav > ul > li {
  list-style: none;
  margin: 40px;
}

.mobile-menu-nav-items > a {
  color: var(--font-color-light);
  text-decoration: none;
}

.current-page > a {
  text-decoration: underline var(--font-color-light) solid 2px;

  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-color: var(--font-color-light);
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration-thickness: 2px;
}
