button {
  cursor: pointer;
}

.icon-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.icon-button-image {
  width: 28px;
  height: 28px;
}

/* PRIMARY BUTTON GENERIC STYLING */
.primary-button,
input[type="submit"] {
  background-color: var(--primary-button-fill-dark);
  border-radius: 25px;
}

.primary-button-light {
  background-color: var(--primary-button-fill-light);
  border-radius: 25px;
}

.primary-button-text,
input[type="submit"] {
  font-size: var(--font-size-body-1);
  font-family: var(--font-style-primary);
  font-weight: 900;
}

/* PRIMARY BUTTON FILLED */
.primary-filled-button,
input[type="submit"] {
  border: none;
  /* padding: 12px 19px 12px 19px; */
}

/* PRIMARY BUTTON OUTLINED */
.primary-outlined-button {
  border: 1px solid black;
}

/* SPECIFIC BUTTONS */
#order-now-button {
  width: 128px;
  height: 44px;
}

#see-this-weeks-menu-button {
  width: 213px;
  height: 44px;
}

#view-menu-button {
  width: 141px;
  height: 44px;
}

#see-dessert-of-the-week-button {
  width: 238px;
  height: 44px;
}

#add-to-order {
  width: 166px;
  height: 50px;
  color: var(--font-color-light);
}

input[type="submit"] {
  width: 156px;
  height: 50px;
  color: var(--font-color-light);
}

/********** START TABLET MEDIA QUERY **********/
@media screen and (max-width: 768px) {
  .floating-button {
    position: fixed;
    right: calc(var(--mobile-frame-margin) * 2);
    bottom: calc(var(--mobile-frame-margin) * 2);
  }
}
/********** END TABLET MEDIA QUERY **********/

/********** START TABLET MEDIA QUERY **********/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .floating-button {
    position: fixed;
    right: calc(var(--tablet-frame-margin) * 2);
    bottom: calc(var(--tablet-frame-margin) * 2);
  }
}
/********** END TABLET MEDIA QUERY **********/

/********** START DESKTOP MEDIA QUERY **********/
@media screen and (min-width: 1024px) {
  .floating-button {
    position: fixed;
    right: calc(var(--desktop-horizontal-margin) * 1);
    bottom: calc(var(--desktop-vertical-margin) * 2);
  }
}
/********** END DESKTOP MEDIA QUERY **********/
