.content-card {
  background-color: white;
  width: 331px;
  padding: 36px;
}

.content-card > h2 {
  margin: 0px 0px 16px 0px;
}

.content-card > p {
  margin: 0px 0px 32px 0px;
}

/********** START TABLET MEDIA QUERY **********/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content-card {
    width: auto;
    margin: 0px;
    padding: var(--tablet-frame-margin);
  }
}
/********** END TABLET MEDIA QUERY **********/

/********** START DESKTOP MEDIA QUERY **********/
@media screen and (min-width: 1024px) {
  .content-card {
    width: auto;
    margin: 0px;
    padding: var(--desktop-card-content-left-padding);
  }
}
/********** END DESKTOP MEDIA QUERY **********/
