.content {
  background-color: white;
  width: 331px;
  padding: 36px;
}

.secondary-content-card > .content > h2 {
  margin: 0px 0px 16px 0px;
}

.secondary-content-card > .content > p {
  margin: 0px 0px 32px 0px;
}

.content-card-image {
  width: 100%;
}

/********** START TABLET MEDIA QUERY **********/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .content-section:nth-child(odd) > .content-card-image {
    grid-row: 1/2;
  }

  .content {
    width: auto;
    margin: 0px;
    padding: var(--tablet-frame-margin);
  }

  .content-card-image {
    width: 100%;
  }
}
/********** END TABLET MEDIA QUERY **********/

/********** START DESKTOP MEDIA QUERY **********/
@media screen and (min-width: 1024px) {
  .content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: var(--desktop-vertical-margin) var(--desktop-horizontal-margin)
      var(--desktop-vertical-margin) var(--desktop-horizontal-margin);
  }

  .content-section:nth-child(odd) > .content-card-image {
    grid-row: 1/2;
  }

  .content {
    width: auto;
    margin: 0px;
    padding: var(--desktop-card-content-left-padding);
  }

  .content-card-image {
    width: 100%;
  }
}
/********** END DESKTOP MEDIA QUERY **********/
