label {
  display: none;
}

#name,
#email,
#phone {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  padding: 10px;
}

#name::placeholder,
#email::placeholder,
#phone::placeholder {
  color: var(--font-color-placeholder);
}
