@import url("./components/buttons.css");

/********** GLOBALS **********/
:root {
  /***** COLOR PALETTE *****/
  /* Backgrounds */
  --main-bg-color: #efefef;
  --header-bg-color: #f8f8f8;
  --footer-bg-color: #f8f8f8;
  --tablet-hero-bg-color: #000203;
  --mobile-menu-bg-color: #252525;
  /* Buttons */
  --primary-button-fill-dark: #3f3f3f;
  --primary-button-fill-light: #f8f8f8;
  /* Borders */
  --input-border-color: #bababa;
  --table-border-color: #c4c4c4;

  /***** FONTS *****/
  --font-style-primary: Nunito;
  --font-style-secondary: Inter;
  --font-color-light: #f8f8f8;
  --font-color-dark: #0b0b0b;
  --font-color-caption: #575757;
  --font-color-placeholder: #b6b6b6;

  /***** FONT SIZES *****/
  --font-size-header-1: 34px;
  --font-size-header-2: 28px;
  --font-size-order-total: 22px;
  --font-size-body-1: 18px;
  --font-size-nav-items: 18px;
  --font-size-caption: 13px;

  /***** SPACING *****/
  /* MOBILE */
  --mobile-frame-margin: 22px;

  /* TABLET */
  --tablet-frame-margin: 40px;
  --tablet-content-card-vertical-margin: 48px;

  /* DESKTOP */
  --desktop-vertical-margin: 40px;
  --desktop-horizontal-margin: 80px;
  --desktop-card-content-left-padding: 56px;
  --desktop-card-content-top-padding: 120px;
}
/********** END GLOBALS **********/

/* START MISCELLANEOUS */
body {
  background-color: var(--main-bg-color);

  margin: 0;
}
/* END MISCELLANEOUS */

/********** TYPOGRAPHY **********/
header,
h1,
h2,
a {
  font-family: var(--font-style-primary);
}

h1 {
  font-size: var(--font-size-header-1);
}

h2 {
  font-size: var(--font-size-header-2);
}

#nav-list > ul > li {
  font-size: var(--font-size-nav-items);
}

p,
.legal-links-items > a,
textarea,
table,
input {
  font-family: var(--font-style-secondary);
  font-size: var(--font-size-body-1);
}

#total > p {
  font-size: var(--font-size-order-total);
  font-weight: bolder;
}
/********** END TYPOGRAPHY **********/
