.product-description > h1 {
  margin-top: 16px;
  margin-bottom: 8px;
}

.product-description {
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  order: -2;
}

.product-description > img {
  order: -1;
}
